@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Hanken+Grotesk:wght@400;500;600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


html, body {
  height: 100%;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #000000;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}